@font-face
/*Téléchargement de la police Raleway*/
{
        font-family: "Raleway", "Sans serif";
        src: url('static/Raleway-Black.ttf'),
        url('static/Raleway-BlackItalic.ttf') url('Raleway-VariableFont_wght.ttf') url('Raleway-Italic-VariableFont_wght.ttf')
}

/* Général */

* {
    font-family: 'Raleway', Arial, Verdana, sans-serif;
    padding:0;
    margin:0;
}
a {
    list-style-type: none;
    text-decoration: none;
    color:black;
}
ul{
    list-style-type: none;
}
/* Header */

nav  {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}
nav a {
    margin:25px;
}
nav img {
   
}
.navigation:focus   {
    color:#0065FC;
    border-top:1px solid #0065FC;
    padding-top: 1.5rem;
}
.navigation:hover   {
    color:#0065FC;
    border-top:1px solid #0065FC;
    padding-top: 1.5rem;
}
#inscription {
    color:#0065FC;
    font-weight: bold;
}
.pub{
    margin:5px;
    padding:20px;
    line-height: 2em;
}
.search{
    margin:20px;
    padding:10px;
}
.search button{
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    background-color:#0065FC;
    color:white;
    padding:10px;
    border:none; 
}
.search button:active{
    color:black;
}
.search input::placeholder{
    color:black;
    font-weight: bold;
}
.search input{
    border:1px solid #DEEBFF;
    padding:10px;    
}
.search i{
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    color:black;
    background-color:#F2F2F2;
    padding:12px;
    padding-top:9.5px;
    padding-bottom:12px;
    border:px solid #DEEBFF;
}
.filter h4{
    padding:8px;
}
.filter{  
    display:flex;
    justify-content: space-around;
    max-width:800px;
    margin:20px;
    padding: 8px;
    font-weight: bold;
}
.filter_icon i{
    border-radius:20px;
    color:#0065FC;
    background-color:#DEEBFF;
    padding:10px;
}
.filter_icon{
    border:1px solid #DEEBFF;
    border-radius:20px;
    border-left: none;
    padding-right: 20px;
}
.note{
    padding:15px;
    margin:18px;;
}
.note i{
    color:white;
    border-radius:20px;
    background-color:#0065FC;
}
/* Body */

.section1{
    background-color:#F2F2F2;
    border-radius:20px;
    padding:20px;
    margin:60px;
}
.hotel1 {
    padding: 6px;
    margin:20px;
    background-color:white;
    border-radius:20px;
    line-height: 1.8em;    
}
.hotel1:hover{
    transform: scale(1.02);
}
.hotel1 i {
    color:#0065FC;
}
.article1{
    display:flex;
    flex-wrap: wrap;
}
.ihotel {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.lien_section{
    font-weight: bold;
    text-align: left;
    margin-left:40px;
}
section h2{
    text-align: left;
    margin-left:40px;
    padding-top:25px;
}
.section_aside{
    display:flex;
}
.section2{
    background-color:#F2F2F2;
    margin:40px;
    border-radius:20px;
    padding:20px;
}
.ihotel2{
    width: 175px;
    height: 180px;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.hotel2 i {
    color:#0065FC;
}
.hotel2{
    padding:8px;
    margin:18px;
    background-color:white;
    border-radius:20px;
}
.hotel2:hover{
    transform: scale(1.02);
}
.populaire{
    display:flex;
    justify-content: space-between;
}
.populaire i{
    font-size:1.5em;
}
.section3{
    display:flex;
}
.act_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
footer{
    display:flex;
    justify-content: space-around;
    text-align: center;
    background-color:#F2F2F2;
    padding:40px;
    text-align:left;
    padding-right:60%;
}
footer h3{
    line-height:3em;
}
footer ul{
    line-height:2em;
}